header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: darken($blue, 15%);
  z-index: 1;
  padding: 15px;
  color: #fafafa;
}

#logo{
  margin-bottom: 30px;
  h1{
    font-size: 60px;
    padding: 0;
    margin:0;
  }
}
