#landing{
  min-height: 100vh;
  margin: 0 15%;
}

#lighthouse{
  position: fixed;
  left: 0;
  bottom: $margin-bottom;
  width: 20%;
  max-width: 200px;
}

#catchline{
  font-size: 2em;
  color: #fafafa;
  text-shadow: 1px 1px 1px #6a6a6a;
  padding-top: 10px;
}

#go-to-typeform{
  background-color: $red;
  width: 50%;
  max-width: 300px;
  cursor: pointer;
  padding: 15px;
  margin: auto;
  border-radius: 4px;
  box-shadow: 0 2px 2px #7a7a7a;
}

.social-links{
  font-size: 4em;
  color: #fafafa;
  text-align: center;
}

.social-link{
  padding: 10px;
  margin: auto;
  &:hover{
    animation: heartbeat 1.5s ease-in-out infinite both;
  }
  a{
    color: inherit;
  }
}