#testimonials{
  margin-top: 50px;
}

.testimonial{
  position: relative;
  background-color: #fafafa;
  border-radius: 4px;
  padding: 10px;
  margin:10px;
  margin-bottom: 30px;
  width: 400px;

  &-description{
    color: #424242;
    text-align: justify;
  }
  &-author{
    padding-top: 10px;
  }
}

.author{
  &-name{
    font-weight: bold;
  }
  &-position{
    font-size: 0.8em;
    color: #323232;
  }
  &-picture{
    position: absolute;
    right: 10px;
    bottom: -20px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid #fafafa;
    box-shadow: 0 0 2px #121212;
  }
}
